<ion-header>
  <ion-toolbar>
    <ion-title>
      Créditos complementarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Créditos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="color">
    <p class="padd">Aquí podrás ingresar los créditos complementarios que hayas obtenido para validarlos. <b>Verifica que tus datos sean correctos y no olvides dar click en guardar.</b></p>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Crédito complementario 1</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input 
      label="Actividad" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Descripción" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Crédito(s)" 
      labelPlacement="stacked" 
      type="number"
      [clearInput]="true"
      min="1" max="5">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Evidencia" 
      labelPlacement="stacked" 
      type="url"
      [clearInput]="true">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Crédito complementario 2</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input 
      label="Actividad" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Descripción" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Crédito(s)" 
      labelPlacement="stacked" 
      type="number"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Evidencia" 
      labelPlacement="stacked" 
      type="url"
      [clearInput]="true">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Crédito complementario 3</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input 
      label="Actividad" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Descripción" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Crédito(s)" 
      labelPlacement="stacked" 
      type="number"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Evidencia" 
      labelPlacement="stacked" 
      type="url"
      [clearInput]="true">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Crédito complementario 4</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input 
      label="Actividad" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Descripción" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Crédito(s)" 
      labelPlacement="stacked" 
      type="number"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Evidencia" 
      labelPlacement="stacked" 
      type="url"
      [clearInput]="true">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Crédito complementario 5</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input 
      label="Actividad" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Descripción" 
      labelPlacement="stacked" 
      type="text"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Crédito(s)" 
      labelPlacement="stacked" 
      type="number"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
      label="Evidencia" 
      labelPlacement="stacked" 
      type="url"
      [clearInput]="true">
    </ion-input>
    </ion-item>
    <ion-button>Enviar</ion-button>
    <ion-button>Guardar</ion-button>
  </ion-list>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
