.color{
    padding: 15px;
    background-color: #800000;
    width: 100vw;
}
.padd{
    color: white;
    margin: 0px 15px;
    text-align: justify;
}
.quest{
    padding-top: 5vmax;
}
.title{
    font-size: 1vmax;
}